.energy-factors {
  display: flex;
  gap: 24px;
  justify-content: space-between;

  &__column {
    flex: 1;
    min-width: 70%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: flex-start;
    .el-checkbox {
      display: block;
      margin-bottom: 6px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-top: 4px;
    height: auto;
    line-height: 1.4;
    color: var(--text-color); 
    display: flex;
  }

  &__icon {
    width: 24px;
    margin-right: 2px;
  }
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: var(--color-green) !important;
  border-color: var(--color-green) !important;
}

.el-checkbox__inner:hover {
  border-color: var(--color-green) !important;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: var(--color-green) !important;
}

.el-checkbox__input .el-checkbox__inner {
  transition: background-color 0.3s, border-color 0.3s;
}