/* _variables.scss */

:root {
  --color-white: #fff;
  --card-bg: #f3f4f6;
  --color-light: #e0e0e0;
  --text-color: #222;
  --text-grey: #555;
  --color-border: #ddd;
  --color-green: #34c759;
  --color-vio: #442f6d;
  --color-purple: #d8b4fe;
  --color-purple-hover: #aa9ff0;
}


$radius: 12px;
$shadow: 0 2px 6px rgba(160, 130, 255, 0.12);

$font-family: 'Manrope', sans-serif;